

.flex-container {
    display: flex;
    background-color:#2AB2DF;
    margin: 80px 80px 80px 80px;
}

#contactos {
    flex-direction: column;
    column-width: 800px;
    display: list-item;
    justify-content:space-between;
    background-color:white;
    margin: 300px 300px 300px 300px;
}


.fary {
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
    margin: 20px 20px;
    align-items: center;
}

.manolo {
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
    margin: 20px 20px;
    align-items: center;
}

.rocio {
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
    margin: 20px 20px;
    align-items: center;
}

.lola {
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
    margin: 20px 20px;
    align-items: center;
}


img {
    width: 100px;
    text-align: left;
    margin-left: 25px;
}

.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    margin: 30px;
}


h1 {
    color: black;
}

p {
    color: grey;
}


